.searchbar
{
 position: relative;
 top:1vh;
}
.leftcolumn
{
  height:90vh;
}
.logout
{
  position: relative;
 top:2vh;
}
.profilepic
{
  height: 25vh;
  width: 12vw;
  border-radius: 100vh;
  border: 0.5px solid lightblue;
  box-shadow: 0px 0px 5px 5px lightblue;
}
.login
{
  position: relative;
  top:15vh;
}
.loginbackground
{
  background-color: rgb(230, 211, 248);
  height: 100vh;
}
.frontpage
{
  position: relative;
  top:30vh;
  left:9vw;
}
.regprofilepic
{
  height: 32vh;
  width: 16vw;
  border-radius: 100vh;
  border : 0px solid black;
  position: relative;
  left: 8vw;
}
.register
{
  background-color: rgb(230, 211, 248);
  height:max-content;
}
.comm
{
position: relative;
left:30vw;
}
.postimg
{
  height: 70vh;
  width: 50vw;
  
}
.post
{
  align-content: center;
}
.mainpagebutton
{
  margin-bottom: 10vh;
  margin-top: 30vh;
  border-radius: 10vh;
}
.mainbar
{
  position: fixed;
}
.space
{
  position: relative;
  top:2vh;
}
.uparrow
{
 position: fixed;
 top:90vh;
 left:90vw;
}
.headerimg
{
  height: 8vh;
  width: 4vw;
  border-radius: 10vh;
  border: 1px solid lightblue;
}
.imgalign
{
  position: relative;
  top:1vh;
}